<%- include('../../layouts/header.ejs') %>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        <h5 class="card-title">
                            Create New Category
                        </h5>
                    </div>

                    <div class="float-right">
                        <a href="/categories" class="btn btn-sm btn-secondary text-light">
                            Back
                        </a>
                    </div>
                </div>

                <form action="/categories/store" method="POST">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-info">
                            Create
                        </button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
<%- include('../../layouts/footer.ejs') %>